@import "tailwindcss";

@theme {
  --color-page: #F4F7FC;
  --shadow-diffuse: 0 2px 15px -3px rgba(0, 0, 0, 0.07);
}

:root {
  --background: #F4F7FC; /* Cold Gray-White */
  --foreground: #334155; /* Slate-700 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden; /* App-like feel */
}

